<h1>Welcome to Planner</h1>

<div class="square">
   <div class="content">
        <div class="table">
            <div class="table-cell">
                <%= @plan.plan1 %>
            </div>
        </div>
    </div>
</div>
<div class="square">
   <div class="content">
        <div class="table">
            <div class="table-cell">
                <%= @plan.plan2 %>
            </div>
        </div>
    </div>
</div>
<div class="square">
   <div class="content">
        <div class="table">
            <div class="table-cell">
                <%= @plan.plan3 %>
            </div>
        </div>
    </div>
</div>

<!-- 2nd row verticaly centered images in square columns -->

<div class="square">
   <div class="content">
        <div class="table">
            <div class="table-cell">
                <%= @plan.plan4 %>
            </div>
        </div>
    </div>
</div>
<div class="square">
    <div class="content">
        <div class="table">
            <div class="table-cell">
              <%= @plan.name %><
            </div>
        </div>
    </div>
</div>
<div class="square">
   <div class="content">
        <div class="table">
            <div class="table-cell">
              <%= @plan.plan5 %>
            </div>
        </div>
    </div>
</div>

<!-- 3rd row responsive images in background with centered content -->

<div class="square">
   <div class="content">
        <div class="table">
            <div class="table-cell">
                <%= @plan.plan6 %>
            </div>
        </div>
    </div>
</div>
<div class="square">
   <div class="content">
        <div class="table">
            <div class="table-cell">
                <%= @plan.plan7 %>
            </div>
        </div>
    </div>
</div>
<div class="square">
   <div class="content">
        <div class="table">
            <div class="table-cell">
                <%= @plan.plan8 %>
            </div>
        </div>
    </div>
</div>

</br>
<%= form_for ( "plan/new_new_plan" ) do |f| %>
Update Details</br>
Plan 1
<%= f.text_field :p1 %></br>
Plan 2
<%= f.text_field :p2 %></br>
Plan 3
<%= f.text_field :p3 %></br>
Plan 4
<%= f.text_field :p4 %></br>
Plan 5
<%= f.text_field :p5 %></br>
Plan 6
<%= f.text_field :p6 %></br>
Plan 7
<%= f.text_field :p7 %></br>
Plan 8
<%= f.text_field :p8 %></br>
<%= f.hidden_field :extraparam, :value => @plan.id %>
<%= f.button :submit %>

<% end %>